<div class="input__container">
    <label class="input__label" for={{name}}>{{label}}</label>
    <input
        class="input__element"
        placeholder={{placeholder}}
        name={{name}}
        id={{name}}
        type={{type}}
    />
    <span class="input__error">{{error}}</span>
</div>