<li class="chat-card">
    <div class="chat-card__left-side">
        <img src="../../../static/images/profile.svg" alt="profile">
        <div class="chat-card__message-info">
            <p class="chat-card__user-name">{{this.name}}</p>

            {{#if this.isIncoming}}
                <p class="chat-card__text">{{this.message}}</p>
            {{else}}
                <p class="chat-card__text"><span class="chat-card__text_black">Вы:</span> {{this.message}}</p>
            {{/if}}
        </div>
    </div>
    <div class="chat-card__right-side">
        <p class="chat-card__text chat-card__text_small">
            {{this.time}}
        </p>
        {{#if this.count}}
            <p class="chat-card__chip">
                {{this.count}}
            </p>
        {{/if}}
    </div>

    
</li>